<div class="blueBackground">
  <div id="log" class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>サインアップ</h3>
        <hr class="star-light">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <p>猫ちゃんの名前<em>(最大6文字)</em><br /></p>
          <%= f.text_field :petname,  placeholder: '名前を入力してください（必須）', autofocus: true, maxlength: "6" %>
        </div>
        <div class="field">
          <p>猫ちゃんの性別</p>
        </div>
        <div class="genderField">
          <div class="genderSpace clearfix">
            <span>男の子　　</span>
             <%= f.radio_button :sex, "♂"%>
            <span>女の子　　</span>
             <%= f.radio_button :sex, "♀" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, placeholder: 'メールアドレスを入力してください', autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, placeholder: 'パスワードを入力してください',autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, placeholder: 'パスワードを確認してください', autocomplete: "off" %>
        </div>

        <div class="field_avatar">
          <br />
          <%= f.file_field :avatar %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>