  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="img-responsive catLogo">
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
        </div>
          <div class="intro-text">
            <span class="name">Cat Diary</span>
            <hr class="star-light">
            <span class="skills">猫の成長を毎日記録しよう</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ユーザーの投稿 -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>最新の投稿一覧</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% @diaries.each do |diary| %>
      <div class="col-sm-4 portfolio-item" style="">
        <a href = "/diaries/<%= diary.id %>" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" alt="" src="<%=diary.image %>" style="width:100%"/>
        </a>
        <hr>
        <div class = "text_post">
          <%= simple_format(diary.text) %>
        </div>
        <div class="userinfo_index">
          <a href="/users/<%= diary.user_id %>">
            <%= diary.user.petname %>
          </a>
          <span>（<%= diary.user.sex %> / <%= diary.year %>才<%= diary.month %>ヶ月/ <%= diary.cattype %>）</span>
        </div>
        <% if user_signed_in? && current_user.id == diary.user_id %>
        <button  class = "buttonEdit" type="button">
        <%= link_to '詳細', "/diaries/#{diary.id}", method: :get %>
        </button>
        <button  class = "buttonEdit" type="button">
        <%= link_to '編集', "/diaries/#{diary.id}/edit", method: :get %>
        </button>
        <button  class = "buttonEdit" type="button">
        <%= link_to '削除', "/diaries/#{diary.id}", method: :delete %>
        </button>
        <% end %>
      </div>
      <% end %>
      <%= paginate(@diaries) %>
    </div>
  </div>
</section>


  <!-- <ツイッターのコンテンツ> -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <div class ="twitterLogo">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
        <h3>〜みんなの#catツイート〜</h3>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item" style="">
        <% @twitter_posts.each do |post| %>
        <div class="cat_twitter">
          <% if post.media.present? %>
          <a href = "<%= post.user.url%>">
            <%= image_tag post.user.profile_image_url %>
          </a>
          <a href = "<%= post.user.url%>">
            <%= post.user.name %>
          </a>
          <br>
          <a href = "<%= post.url%>">
            <%= post.text %>
          </a>
          <br>
          <a href ="<%= post.media[0].media_url%>">
            <%= image_tag post.media[0].media_url.to_s, class: "catTwitterimage"%>
          </a>
          <% else %>
          <a href = "<%= post.user.url%>">
            <%= image_tag post.user.profile_image_url %>
          </a>
          <a href = "<%= post.user.url%>">
            <%= post.user.name %>
          </a>
          <br>
          <a href = "<%= post.url%>">
            <%= post.text %>
          </a>
          <% end %>
          <br>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>