    <div class="whiteBackground">
      <div id="log" class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <%= image_tag @petimg, class: "userAvatarimage"%>
          </div>
          <h4>
          <span><%= @diary.petname %></span>
          </h4>
        </div>
        <!-- イメージ写真 -->
        <div class="detailsImage">
          <img class="img-responsive" alt="" src="<%= @diary.image %>"  style="width:100%;border-radius: 6px;" />
        </div>
        <!-- テキストの詳細 -->
        <div class = "detailsText">
         <div class="baseInfo"><%= @diary.user.sex %> / <%= @diary.year %>歳<%= @diary.month %>ヶ月/ <%= @diary.cattype %></div>
         <div class="perText"><%= @diary.text %></div>

        </div>
        <!-- 編集と削除 -->
        <div class="detailsButton">
          <% if user_signed_in? && current_user.id == @diary.user_id %>
          <button  class = "buttonEdit" type="button">
          <%= link_to '編集', "/diaries/#{@diary.id}/edit", method: :get %>
          </button>
          <button class="buttonDelete" type="button">
          <%= link_to '削除', "/diaries/#{@diary.id}", method: :delete %>
          </button>
         <% end %>
        </div>
      </div>
    </div>
        <!-- ここからフォーム -->
    <div class="reviewBackground">
      <div class="container">
        <div class="commentArea">
          <% if current_user %>
          <%= form_tag("/diaries/#{@diary.id}/reviews", class: "commentForm", method: :post) do %>
          <div class="detailsComment">
            <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
          </div>
          <div class="detailsComment">
            <input type="submit" value="SENT">
          </div>
          <% end %>
          <% end %>
        </div>
          <div class="commentView">
            <% if @reviews %>
            <% @reviews.each do |review| %>
            <%= image_tag current_user.avatar, class: "commentUserimg" %>
            <%= link_to review.user.petname, "/users/#{review.user_id}" %>ちゃん  <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <div class = "percomment">
              <span><%= review.text %></span>
            </div>

            <% end %>
            <% end %>
        </div>
      </div>
    </div>
        <!-- ここまでがフォーム -->

