<div class="whiteBackground">
  <div id="log" class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= image_tag @petimg, class: "userAvatarimage"%>
        <h3><%= @petname %>の成長日記一覧</h3>
        <hr class="star-primary">
      </div>
    </div>


<!-- 年齢で検索するフォーム -->
          <div class= "formsearch_index" style="">
            <%= form_tag('/users/:id', method: :get) do %>
            <input name="keyword" placeholder="例：3" type="text" value=""></input>
            <input name="tmp_id" type="hidden" value=<%= @user.id %> ></input>
            <span>才</span>
            <button class="btn_search" title="検索" type="submit">GO</button>
            <% end %>
            <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
            </form>
          </div>
<!-- ここまでフォーム -->
<!-- 表示スペース -->
      <section id="portfolio">
        <div class="container">
          <div class="row">
            <% if @diaries.present? %>
                <% @diaries.each do |diary| %>
                <div class="col-sm-4 portfolio-item" style="">
                  <a href = "/diaries/<%= diary.id %>" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                      <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <% if diary.image.present? %>
                      <img class="img-responsive" alt="" src="<%=diary.image %>" style="width:100%"/>
                    <% else %>
                      <%= image_tag diary.local_image, class: "img-responsive" %>
                    <% end %>
                  </a>
                  <hr>
                  <div class = "text_post">
                    <%= simple_format(diary.text) %>
                  </div>
                  <div class="userinfo_show">
                    <a href="/users/<%= diary.user_id %>">
                      <%= diary.user.petname %>
                    </a>
                    <span>（<%= diary.user.sex %> / <%= diary.year %>才<%= diary.month %>ヶ月/ <%= diary.cattype %>）</span>
                    <span>
                    </div>
                  </div>
                  <% end %>
                  <%= paginate(@diaries) %>
              <% else %>
              <h4>一致する結果が見つかりませんでした。</h4>
              <% end %>
            </div>
          </div>
        </div>
      </section>
<!-- ここまで表示スペース -->
  </div>
</div>
