<div class="whiteBackground">
  <div id="log" class="container" style="padding-top: 150px">
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= image_tag @petimg, class: "userAvatarimage"%>
        <h3><%= @petname %>の成長日記一覧</h3>
        <hr class="star-primary">
      </div>
    </div>
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <% @diaries.each do |diary| %>
          <div class="col-sm-4 portfolio-item" style="">
            <a href = "/diaries/<%= diary.id %>" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-responsive" alt="" src="<%=diary.image %>" style="width: 100%"/>
            </a>
            <hr>
            <span class="user_name">
              <p><%= diary.year %>歳<%= diary.month %>ヶ月</p>
            </span>
            <% if user_signed_in? && current_user.id == diary.user_id %>
            <button  class = "buttonEdit" type="button">
            <%= link_to '編集', "/diaries/#{diary.id}/edit", method: :get %>
            </button>
            <button  class = "buttonEdit" type="button">
            <%= link_to '削除', "/diaries/#{diary.id}", method: :delete %>
            </button>
            <% end %>
          </div>
          <% end %>
          <%= paginate(@diaries) %>
        </div>
      </div>
    </section>
  </div>
</div>
